<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name" #name />
    <mat-hint align="end"> {{ name.value.length }} / 30 </mat-hint>

    <mat-error *ngIf="errorHandling('name', 'required')">
      This name is mandatory
    </mat-error>
    <mat-error *ngIf="errorHandling('name', 'minlength')">
      This person name must have minimum length of 3
    </mat-error>
    <mat-error *ngIf="errorHandling('name', 'maxlength')"
      >This person name must have maximum length of 30
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close cdkFocusInitial>Close</button>
  <button
    mat-raised-button
    color="warn"
    mat-dialog-close
    [disabled]="!form.valid"
    (click)="onSave()"
  >
    Save
  </button>
</div>
