.contact-list-item {
    padding: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, .12);
}

.contact-list-item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
        margin-left: 0.8rem;
    }
}