.toolbar-links {
    width: auto;    
}

.toolbar-app-title {
    justify-content: center;
}

.main-content {
    max-width: 78.75rem;
    // min-height: 80rem;
    // border: 1px solid #ccc;
    margin: 0 auto;
}